.tile{
  width: 23%;
  height: 70px;
  font-size: 30px;
  background: rgba(29, 21, 21, 0.83);
  border: 8px solid #b1b1e6;
  display: inline-block;
  float: left;
  text-align: center;
  margin-left: 22px;
  margin-top: 15px;
  border-radius: 15px;
  color: #eff5c8;
}
